a, a:focus, a:hover, a:active {
  color: #00afd7;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
}
h1, h2, h3 {
  margin: 12px 0;
}
h1 {
  font-size: 32px;
}
h2 {
  color: #212121;
}
h3 {
  font-size: 21px;
}
p {
  color: #777;
  margin-top: 12px;
}
.select-title {
  color: #333;
}
.btn {
  background: transparent;
  border: 1px solid white;
}